

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="{{"/" | relative_url }}">{{ site.title | escape }}</a>
      <a href="https://hits.seeyoufarm.com"><img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fddungi.github.io&count_bg=%2330302F&title_bg=%23555555&icon=cliqz.svg&icon_color=%23E7E7E7&title=hits&edge_flat=false" /></a>
    <!-- <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="category">
          {% for category in site.categories %}
            <li {% if category[0] == page.category %}class="active"{% endif %}><a href= "/category/{{ category | first }}">{{ category | first }} ({{ category | last | size }})</a></li>
          {% endfor %}
        </ul>
      </div>

    </button> -->
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{"/" | relative_url }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/about" | relative_url }}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/posts" | relative_url }}">Posts</a>
        </li>
        <!-- <li class="nav-item"> -->
<!--           <a class="nav-link" href="{{"/contact" | relative_url }}">Contact</a> -->
        <form action="/search">
          <div class="tipue_search_left">
              <img src="{{ "/assets/tipuesearch/search.png" | relative_url }}" class="tipue_search_icon">
          </div>
          <div class="tipue_search_right">
              <input type="text" name="q" id="tipue_search_input" pattern=".{1,}" title="At least 1 characters" required></div>
          <div style="clear: both;"></div>
        </form>
        <!-- </li> -->
      </ul>
    </div>
  </div>
</nav>


