<!DOCTYPE html>

<html>
  
<head>
    <!-- Document Settings -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Base Meta -->
   

    <!-- 웹 폰트 설정 -->
    <link rel="stylesheet" 
          href="https://fonts.googleapis.com/earlyaccess/nanumgothic.css">

    <!-- syntax.css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/syntax.css" />
  
{% include head.html %}

<body>

  {% include navbar.html %}

  {{ content }}

  {% include footer.html %}

  {% include scripts.html %}

  {% include google-analytics.html %}

</body>

</html>
